/* body properties */
body {
    background-color: darkblue;
    color: gray;
}
/* Navigation properties */
nav {
    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}
/* Footer properties */
footer {
    text-align: center;
    margin-right: 200px;
}
/* Meme image properties */
#memeImage {
    height: 300px;
    width: 200px;
    margin-right: 200px;

}
/* Header Properties */
header {
    text-align: right;
}

